<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>理财产品列表</title>
</head>
<body class="layui-layout-body" style="overflow: auto">
<h3 class="titNav">
    <a href="javascript:;">产品信息录入</a>
</h3>
<hr>
<div class="layui-layout layui-layout-admin">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-form layui-card-header" style="padding-bottom:15px;padding-top:10px;">
            <form id="searchForm" class="layui-form">
                <div class="layui-form-item">
                    <a href="/product/addProductOne" class="layui-btn layui-btn-normal layui-btn-radius">添加产品</a>
                    <div class="layui-inline">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-block">
                            <input id="likeName" type="text" name="name" placeholder="输入产品名称"
                                   class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">产品编码</label>
                        <div class="layui-input-block">
                            <input id="likeCode" type="text" name="code" placeholder="输入产品编码"
                                   class="layui-input" value="">
                        </div>
                    </div>
                    <!--产品未提交只有 init 初始状态-->
                    <div class="layui-inline">
                        <label class="layui-form-label">产品状态</label>
                        <div class="layui-input-block">
                            <select id="likeAuditStatus" name="auditStatus">
                                <option value="">全部</option>
                                <option value="init">待提交</option>
                                <option value="fail">审核不通过</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-inline">
                            <input id="timeScope" name="timeScope" type="text" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn " data-type="search">
                            <i class="layui-icon layui-icon-search" id="search-role-btn"></i>查询
                        </a>
                        <a type="button" class="layui-btn" data-type="searchFormClear">
                            <i class="layui-icon layui-icon-delete"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>

        <script type="text/html" id="product-row-bar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-xs" lay-event="productEdit"><i
                        class="layui-icon layui-icon-edit"></i>编辑
                </button>
                <button class="layui-btn layui-btn-xs layui-btn-normal" lay-event="productCope"><i
                        class="layui-icon layui-icon-cope"></i>复制
                </button>
                <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="productDelete"><i
                        class="layui-icon layui-icon-delete"></i>作废
                </button>
                <button class="layui-btn layui-btn-xs layui-btn-warm" lay-event="productExamSub"><i
                        class="layui-icon layui-icon-delete"></i>提交审核
                </button>
            </div>
        </script>

        <div class="layui-row" style="padding:0 40px;">
            <table id="product1-table" lay-filter="product1-table"></table>
        </div>
        <!--分页-->

        <script id="repayType" type="text/html">
            {{#  if(d.repayType === undefined){ }}
            未知
            {{#  } else { }}
            {{#  if(d.repayType === 'principalAndInterestTotally'){ }}
            一次性还本息
            {{#  } else { }}
            {{#  if(d.repayType === 'equalInterestAnnually'){ }}
            按年付息，到期还本
            {{#  } else { }}
            {{#  if(d.repayType === 'equalInterestSemiannually'){ }}
            按半年付息，到期还本
            {{#  } else { }}
            {{#  if(d.repayType === 'equalInterestQuarterly'){ }}
            按季付息，到期还本
            {{#  } else { }}
            {{#  if(d.repayType === 'equalInterestMonthly'){ }}
            按月付息，到期还本
            {{#  } else { }}
            {{#  if(d.repayType === 'equalPrincipalAndInterestMonthly'){ }}
            等额本息（月）
            {{#  } else { }}
            ---
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
        </script>

        <script id="auditStatus" type="text/html">
            {{#  if(d.auditStatus === undefined){ }}
            未知
            {{#  } else { }}
            {{#  if(d.auditStatus === 'init'){ }}
            待提交
            {{#  } else { }}
            {{#  if(d.auditStatus === 'submit'){ }}
            提交审核
            {{#  } else { }}
            {{#  if(d.auditStatus === 'processing'){ }}
            审核处理中
            {{#  } else { }}
            {{#  if(d.auditStatus === 'fail'){ }}
            审核不通过
            {{#  } else { }}
            {{#  if(d.auditStatus === 'success'){ }}
            审核成功
            {{#  } else { }}
            --
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
            {{#  } }}
        </script>
        <!--<div id="myPage" class="layui-clear"></div>-->
    </div>
    <!--<script id="tenderTime" type="text/html">-->
    <!--{{#-->
    <!--return d.tenderStartTime+"-"+d.tenderEndTime-->
    <!--}}-->
    <!--</script>-->


    <!--主题内容结束-->

    <!--<div class="layui-footer">-->
    <!--&lt;!&ndash; 底部固定区域 &ndash;&gt;-->
    <!--勘设底部区域-->
    <!--</div>-->
</div>
<!--<script src="js/layui.js"></script>-->
<!--<script type="text/javascript" src="js/laydate.js"></script>-->
<!--<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>-->
<!--<script type="text/javascript" src="js/layui.all.js"></script>-->
<script type="text/javascript" th:src="@{/js/app/product/list.js}"></script>
</body>
</html>