<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:itech="http://www.thymeleaf.org/mytag/itech"
      lang="en">
<head th:replace="/common/public :: commonStyle(~{::title},~{},~{})">
    <title>项目信息录入</title>
</head>
<body class="layui-layout-body">
<fieldset class="layui-elem-field layui-field-title" style="margin:20px 0 0 0;">
    <legend>新增项目信息录入</legend>
</fieldset>
<div class="layui-layout layui-layout-admin">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="proCon">
                <form id="searchForm" class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>业务类型：</label>
                            <div class="layui-input-block">
                                <itech:code property="ywlx" parentCode="ywlx" type="select"
                                            th:value="${xmxxgl.ywlx}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>产品名称：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="cpmc" name="cpmc" type="text"
                                       th:value="${xmxxgl.cpmc}" class="layui-input"/>
                                <input id="id" name="id" type="hidden" th:value="${xmxxgl.id}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>产品规模：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="cpgm" name="cpgm" lay-verify="required"
                                       th:value="${xmxxgl.cpgm}" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>产品期限：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="cpqx" name="cpqx" type="text"
                                       th:value="${xmxxgl.cpqx}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">预期收益：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="yqsy" name="yqsy" th:value="${xmxxgl.yqsy}"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>项目来源：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="xmly" name="xmly" type="text"
                                       th:value="${xmxxgl.xmly}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>资金来源：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="zjly" name="zjly" lay-verify="required"
                                       th:value="${xmxxgl.zjly}" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline" id="btfw1">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>被投范围：</label>
                            <div class="layui-input-inline">
                                <itech:code property="btfw" parentCode="btfw" type="select"
                                            th:value="${xmxxgl.btfw}"/>
                            </div>
                        </div>
                        <div class="layui-inline" id="btfw2">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>被投范围：</label>
                            <div class="layui-input-inline">
                                <itech:code property="btfw" parentCode="btfw2" type="select"
                                            th:value="${xmxxgl.btfw}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>承接主体：</label>
                            <div class="layui-input-inline">
                                <itech:code property="cjzt" parentCode="cjzt" type="select"
                                            th:value="${xmxxgl.cjzt}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>直投项目：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="ztxm" name="ztxm" type="text"
                                       th:value="${xmxxgl.ztxm}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">间投项目：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="jtxm" name="jtxm" th:value="${xmxxgl.jtxm}"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i> 投资条件</label>
                        <div class="layui-input-block">
                            <textarea id="tztj" name="tztj" placeholder="请输入投资条件" lay-verify="required"
                                      class="layui-textarea" th:text="${xmxxgl.tztj}"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>管理费：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="glf" name="glf" placeholder="如无，填0" type="text"
                                       th:value="${xmxxgl.glf}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>认购费：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="rgf" name="rgf" placeholder="如无，填0" lay-verify="required"
                                       th:value="${xmxxgl.rgf}" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>托管费：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="tgf" name="tgf" placeholder="如无，填0" type="text"
                                       th:value="${xmxxgl.tgf}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>申购费：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="sgf" name="sgf" placeholder="如无，填0" lay-verify="required"
                                       th:value="${xmxxgl.sgf}" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>销售费：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="xsf" name="xsf" placeholder="如无，填0" type="text"
                                       th:value="${xmxxgl.xsf}" class="layui-input"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>赎回费：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="shf" name="shf" placeholder="如无，填0" lay-verify="required"
                                       th:value="${xmxxgl.shf}" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>项目负责人：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="xmfzrName" name="xmfzrName" type="text" readonly
                                       th:value="${xmxxgl.xmfzrName}" class="layui-input"/>
                                <input id="xmfzrId" name="xmfzrId" type="hidden" th:value="${xmxxgl.xmfzrId}"
                                       class="layui-input"/>
                                <input id="xmfzrXx" name="xmfzrXx" type="hidden" th:value="${xmxxgl.xmfzrXx}"
                                       class="layui-input"/>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-normal" data-type="selectXmfzr"><i
                                        class="layui-icon layui-icon-add-circle-fine"></i></button>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label "><i style=" color: #ec1a0d;">* </i>项目经办人：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="xmjbrName" name="xmjbrName" lay-verify="required" readonly
                                       th:value="${xmxxgl.xmjbrName}" class="layui-input">
                                <input id="xmjbrId" name="xmjbrId" type="hidden" th:value="${xmxxgl.xmjbrId}"
                                       class="layui-input"/>
                                <input id="xmjbrXx" name="xmjbrXx" type="hidden" th:value="${xmxxgl.xmjbrXx}"
                                       class="layui-input"/>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-warm" data-type="selectXmjbr"><i
                                        class="layui-icon layui-icon-add-circle-fine"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>法务负责人：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="fwfzrName" name="fwfzrName" type="text" readonly
                                       th:value="${xmxxgl.fwfzrName}" class="layui-input"/>
                                <input id="fwfzrId" name="fwfzrId" type="hidden" th:value="${xmxxgl.fwfzrId}"
                                       class="layui-input"/>
                                <input id="fwfzrXx" name="fwfzrXx" type="hidden" th:value="${xmxxgl.fwfzrXx}"
                                       class="layui-input"/>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-danger" data-type="selectFwfzr"><i
                                        class="layui-icon layui-icon-add-circle-fine"></i></button>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label "><i style=" color: #ec1a0d;">* </i>财务负责人：</label>
                            <div class="layui-input-inline">
                                <input type="text" id="cwfzrName" name="cwfzrName" lay-verify="required" readonly
                                       th:value="${xmxxgl.cwfzrName}" class="layui-input">
                                <input id="cwfzrId" name="cwfzrId" type="hidden" th:value="${xmxxgl.cwfzrId}"
                                       class="layui-input"/>
                                <input id="cwfzrXx" name="cwfzrXx" type="hidden" th:value="${xmxxgl.cwfzrXx}"
                                       class="layui-input"/>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-green" data-type="selectCwfzr"><i
                                        class="layui-icon layui-icon-add-circle-fine"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>其他成员：</label>
                            <div class="layui-input-inline">
                                <input lay-verify="required" id="xmqtcyName" name="xmqtcyName" type="text"
                                       th:value="${xmxxgl.xmqtcyName}" readonly class="layui-input"/>
                                <input id="xmqtcyId" name="xmqtcyId" type="hidden" th:value="${xmxxgl.xmqtcyId}"
                                       class="layui-input"/>
                                <input id="xmqtcy" name="xmqtcy" type="hidden" th:value="${xmxxgl.xmqtcy}"
                                       class="layui-input"/>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-primary" data-type="selectXmqtcy"><i
                                        class="layui-icon layui-icon-add-circle-fine"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--{{# if(xmxxgl.id == null){ }}-->

                    <!--{{# } else { }}-->
                    <div class="layui-form-item" id="sprDiv">
                        <div class="layui-inline">
                            <label class="layui-form-label"><i style=" color: #ec1a0d;">* </i>审批人：</label>
                            <div class="layui-input-inline">
                                <input id="sprName" name="sprName" type="text" th:value="${xmxxgl.sprName}" readonly
                                       class="layui-input"/>
                                <input id="sprId" name="sprId" type="hidden" th:value="${xmxxgl.sprId}"
                                       class="layui-input"/>
                                <input id="spr" name="spr" type="hidden" th:value="${xmxxgl.spr}" class="layui-input"/>
                            </div>
                            <div class="layui-input-inline">
                                <button type="button" class="layui-btn layui-btn-radius" data-type="selectSpr"><i
                                        class="layui-icon layui-icon-add-circle-fine"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--{{# } }}-->

                    <div class="layui-form-item" style="margin:0 0 10px 0;">
                        <hr class="layui-bg-blue">
                        <div class="layui-input-block">
                            <button id="saveButton" class="layui-btn" lay-submit lay-filter="save">保存</button>
                            <a href="javascript:window.history.go(-1);" class="layui-btn">返回</a>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
                <!--主题内容结束-->
            </div>
        </div>
    </div>
</div>
<!-- <script src="js/layui.js"></script> -->
<!--<script type="text/javascript" src="js/laydate.js"></script>-->
<!--<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>-->
<!--<script type="text/javascript" src="js/layui.all.js"></script>-->
<script type="text/javascript" th:src="@{/js/app/xmxxgl/add.js}"></script>

</body>
</html>